In [1]:
import os

import pandas as pd
from pbpstats.client import Client

from pynba.config import config


source = "file"
provider = "data_nba"
settings = {
    "dir": os.path.join(config.local_data_directory, config.pbpstats_directory),
    "Boxscore": {"source": source, "data_provider": provider},
#     "EnhancedPbp": {"source": source, "data_provider": provider},
    "Games": {"source": source, "data_provider": provider},
#     "Pbp": {"source": source, "data_provider": provider},
#     "Possessions": {"source": source, "data_provider": provider},
#     "Shots": {"source": source, "data_provider": provider},
}
client = Client(settings)

game_id = "0022000866"
team_id = 1610612758
player_ids = [1630169, 1629056, 202355]
period = 2
print(f'"{game_id}": {{"{period}": {{"{team_id}": {player_ids}}}}},')

game = client.Game(game_id)
pd.DataFrame([{
    "name": item["name"],
    "num": item["num"],
    "id": item["player_id"],
    "in": 'X' if item["player_id"] in player_ids else '',
} for item in game.boxscore.player_items if item["team_id"] == team_id])

"0022000866": {"2": {"1610612758": [1630169, 1629056, 202355]}},

                 name num       id in
0     Harrison Barnes  40   203084
1    Maurice Harkless   8   203090
2    Hassan Whiteside  20   202355  X
3         Buddy Hield  24  1627741
4        De'Aaron Fox   5  1628368
5   Tyrese Haliburton   0  1630169  X
6       Chimezie Metu  25  1629002
7         Chris Silva  30  1629735
8       Terence Davis   9  1629056  X
9        Delon Wright  55  1626153
10       Justin James  10  1629713
11       Damian Jones  15  1627745
12    Jahmi'us Ramsey   3  1630186
13  Marvin Bagley III  35  1628963
14           Kyle Guy   7  1629657
15     Richaun Holmes  22  1626158
16  Robert Woodard II  13  1630218